  <div class="centre jumbotron">
    <h1>a place on internet for natural gemstones!!!</h1>
    <p>this page is about dersire4deals, going to be the home page for deire4deals and currently 
    so if you would like to have a look on our gems so please click over sign up now and it will redirect you to facebook page that
    you can see the beautiful stones that we have !!!!</p>
    
    <h2>this like will let you have a look on the gems we have it here for you  </h2>
    <%=link_to "sign up now", "https://www.facebook.com/Desire4Deals/" , class:"btn btn-lg btn-success" %>
  </div>
  <div class="col">
      <div class="col-lg-4"
      <h3 class="midrow"
          see other users stock
          /h3>
          <h2 class="left">view and browse our store as mamber and sign in later</h2> 
          <%=link_to "sign in mambers","" , class: "btn btn-lg btn-warning" %>
          </div>
      </div>
       <div class="col">
      <div class="col-lg-4"
      <h3 class="midrow"
          upload your stock as a mamber
          /h3>
          <h2 class="left">view and browse our mambers stock </h2> 
          <%=link_to "member's stock","" , class: "btn btn-lg btn-warning" %>
          </div>
      </div>
       <div class="col">
      <div class="col-lg-4"
      <h3 class="midrow"
          view our stock as a mamber
          /h3>
          <h2 class="lrft">view and upload stock as a mamber sign in</h2> 
          <%=link_to "upload stock","" , class: "btn btn-lg btn-warning" %>
          </div>
     </div>